<div class="container">
  <h1>Add course</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="course">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
              formControlName="title" required>
      <div *ngIf="course.controls.title.errors" class="error-msg">
        <div *ngIf="course.controls.title.errors.required && course.controls.title.touched; else titleErrors">Title is required.</div>
        <ng-template #titleErrors>
          <div *ngIf="course.controls.title.errors.maxlength">Title should be less then {{course.controls.title.errors.maxlength.requiredLength}} length.</div>
          <div *ngIf="course.controls.title.errors.minlength">Title should be at least {{course.controls.title.errors.minlength.requiredLength}} length.</div>
        </ng-template>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description"
              formControlName="description" required>
      </textarea>
      <div *ngIf="course.controls.description.errors" class="error-msg">
        <div *ngIf="course.controls.description.errors.required && course.controls.description.touched; else descriptionErrors">Description is required.</div>
        <ng-template #descriptionErrors>
          <div *ngIf="course.controls.description.errors.maxlength">Description should be less then {{course.controls.title.errors.maxlength.requiredLength}} length.</div>
        </ng-template>

      </div>
    </div>

    <app-date formControlName="creationDate"></app-date>
    <app-duration formControlName="duration"></app-duration>
    <app-authors formControlName="authors"></app-authors>

    <button [disabled]="course.invalid" type="submit" class="btn btn-success">Save</button>
    <button [routerLink]="['/courses/list']" class="btn btn-cancel">Cancel</button>

  </form>
</div>
