
  <a [appHighlight]="course" [ngClass]="{rated: course.topRated}" class="course list-group-item list-group-item-action flex-column align-items-start">
      <div class="title">
        <h5 class="name">{{ course.title | uppercase}}</h5>
        <img class="star"*ngIf="course.topRated" [src]="starImagePath" alt="rated course">
      </div>
      <p class="mb-1 description">{{ course.description }}</p>
      <small class="authors">Authors: {{ authors }}</small>
      <small class="duration">Duration: {{ course.duration | formatDuration }}</small>
      <small class="date">Date: {{ course.creationDate | date: "MM.dd.yyyy"}}</small>
      <button type="button" [routerLink]="['/courses', course.id]" class="btn btn-primary btn-sm edit">Edit</button>
      <button type="button" class="btn btn-primary btn-sm delete" (click)="deleteCourse($event)">Delete</button>
  </a>
