
  <a [appHighlight]="courseListItem" [ngClass]="{rated: courseListItem.topRated}" href="#" class="course list-group-item list-group-item-action flex-column align-items-start">
      <div class="title">
        <h5 class="name">{{ courseListItem.title | uppercase}}</h5>
        <img class="star"*ngIf="courseListItem.topRated" [src]="starImagePath" alt="rated course">
      </div>
      <p class="mb-1 description">{{ courseListItem.description }}</p>
      <small class="author">Author: {{ courseListItem.author }}</small>
      <small class="duration">Duration: {{ courseListItem.duration | formatDuration }}</small>
      <small class="date">Date: {{ courseListItem.creationDate | date: "MM.dd.yyyy"}}</small>
      <button type="button" class="btn btn-primary btn-sm edit">Edit</button>
      <button type="button" class="btn btn-primary btn-sm delete" (click)="deleteCourse($event)">Delete</button>
  </a>
