
  <a href="#" class="course list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 title">{{ courseListItem.title }}</h5>
      </div>
      <p class="mb-1 description">{{ courseListItem.description }}  
      </p>
      <small class="author"> Author: {{ courseListItem.author }}  </small>
      <small class="duraction"> Duraction: {{ courseListItem.duraction }}  min</small>
      <small class="date"> Date: {{ courseListItem.creationDate }}  </small>
      <button type="button" class="btn btn-primary btn-sm edit">Edit</button>
      <button type="button" class="btn btn-primary btn-sm delete" (click)="deleteCourse()">Delete</button>
  </a>


<!--
    <div class="course card">
        <div class="card-header"> {{ courseListItem.title }}</div>
        <div class="row">
          <div class="col-sm-6 title"> {{ courseListItem.title }} </div>
          <div class="col-sm-2 duraction"> In {{ courseListItem.duraction }}min</div>
          <div class="col-sm-2 date">{{ courseListItem.creationDate }}</div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-default">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 description"> {{ courseListItem.description }}</div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-default" (click)="deleteCourse()">Delete</button>
          </div>
        </div>
      </div>
    -->



